section {
  text-align: center;
  padding: 100px 0;

  header {
    margin-bottom: 60px;
    h1 {
      font-weight: normal;
      margin-bottom: 10px;
      &:after, &:before {
        content: "**********";
        color: #898989;
        padding: 0 10px;
        font-size: .7em;
      }
    }
    p {
      color: #898989;
      font-size: 1.2em;
      margin-top: 10px;
    }
  }
  article {
    width: 840px;
    margin: 0 auto;
  }
}

.btn {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  background: #333;
  margin: 0 20px;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    bottom: -8px;
    right: -8px;
  }
}

section.versus {
  text-align: center;
  padding-top: 100px;
}

section.versus .game {
  display: inline-block;
  margin: 0px 20px;
  width: 200px;
  height: 500px;
}
