#footer {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-bottom: 60px;

  .buttons {
    padding: 20px 0;
  }

  p {
    font-size: .85em;
    a {
      color: #ff7b00;
    }
    img {
      padding: 15px 0;
    }
  }
}