#hero {
  position: relative;
  @include display-flex;
  @include flex-props(row wrap, center, center, center);
  min-height: 500px;
  height: 90vh;
  color: #fff;
  padding: 0;

  .welcome {
    position: relative;
    z-index: 10;
    text-align: center;
  }

  h1 {
    font-size: 60px;
    margin: 0;
  }

  p {
    font-size: 1.5em;
    margin-bottom: 50px;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background: url(../images/sep.gif) repeat-x center;
    position: absolute;
    bottom: -12px;
    left: 0;
  }
  .blockrain-score {
    border: 2px solid #fff;
    text-align: center;
    width: 120px;
    background: #232323;

    .blockrain-score-msg {
      border-bottom: 2px solid #fff;
      text-transform: uppercase;
      padding: 4px 0;
      font-size: .7em;
    }
    .blockrain-score-num {
      font-size: 1.2em;
      padding: 3px 0 5px;
    }
  }
}

#cover-tetris {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}