html, body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 160%;
  font-size: 16px;
  color: #303030;
}

header {
  position: relative;
  min-height: 500px;
}
header .welcome {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 150px 0;
  color: #303030;
}
header h1 {
  font-size: 60px;
}

#cover-tetris {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}



section.versus {
  text-align: center;
  padding-top: 100px;
}

section.versus .game {
  display: inline-block;
  margin: 0px 20px;
  width: 200px;
  height: 500px;
}


section.hipster {
  text-align: center;
  padding-top: 100px;
}

section.hipster .game {
  display: inline-block;
  margin: 0px 20px;
  width: 500px;
  height: 500px;
  background: url(images/hipster-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
section.hipster .game canvas {
  opacity: 0.8;
}